# Configuration for openstack-virt-enforcer daemon
# This file is managed by Ansible.

DAEMON_ARGS="\
--cloud {{ virt_enforcer_cloud_name }} \
--base-qos-policy {{ virt_enforcer_base_qos_policy }} \
--libvirt-url {{ virt_enforcer_libvirt_url }} \
--log-level {{ virt_enforcer_log_level }} \
{% if virt_enforcer_timeout | int > 0 %}--timeout {{ virt_enforcer_timeout }} {% endif %}
{% if virt_enforcer_iotune_audit_interval | int > 0 %}--iotune-audit-interval {{ virt_enforcer_iotune_audit_interval }} {% endif %}
{% if virt_enforcer_nats_url %}--nats-url {{ virt_enforcer_nats_url }} {% endif %}
{% if virt_enforcer_nats_user %}--nats-user {{ virt_enforcer_nats_user }} {% endif %}
{% if virt_enforcer_nats_password %}--nats-password {{ virt_enforcer_nats_password }} {% endif %}
{% if virt_enforcer_webhook_url %}--webhook-url {{ virt_enforcer_webhook_url }} {% endif %}
{% if virt_enforcer_webhook_username %}--webhook-username {{ virt_enforcer_webhook_username }} {% endif %}
{% if virt_enforcer_webhook_password %}--webhook-password {{ virt_enforcer_webhook_password }} {% endif %}
{% for key, value in virt_enforcer_max_volume_type_iops_limit.items() %}--max-volume-type-iops-limit {{ key }}={{ value }} {% endfor %}
"
